*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.db-shm
*.db-wal
*.sqlite
*.txt
*.db-journal
*.log
*.db
*.backup
*.bkp
*.session

secrets.yaml
known_devices.yaml
ip_bans.yaml
.spotify-token-cache
.google.token
.google.fit.token
.uuid
.cloud
.HA_VERSION
.ring.cache.pickle
.shopping_list.json
.storage
.uuid

temp
tts
backups
docs
lib
deps
icloud
secrets
notebooks
__pycache__
